* {
  box-sizing: border-box;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #f9f1f3;
  font-family: "Trebuchet MS", 'Times New Roman', Times, serif;

background-color: white;

background-image:
  linear-gradient(
    rgba(192, 70, 106, 0.28) 50%,
    transparent 50%
  ),
  linear-gradient(
    90deg,
    rgba(240, 192, 213, 0.28) 50%,
    transparent 50%
  );
background-size:80px 80px;
}

#root {
  width: 100%; 
  min-height: 100vh;
  padding: 50px 20px;
}